html,
body {
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  height: 768px;
  width: 768px;
  display: flex;
  grid-template: repeat(16, 48px) / repeat(16, 48px);
  border: 5px solid black;
}
.column {
  flex: 1; /* <--- required (style column to fill the same space as the other columns) */
}

.row {
  height: 48px;
  width: 48px;
  background: #c0c0c0;
  text-align: center;
}
