html,
body {
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  height: 768px;
  width: 768px;
  display: flex;
  grid-template: repeat(16, 48px) / repeat(16, 48px);
  border: 5px solid black;
  background: #c0c0c0;
}
.column {
  flex: 1;
}

.row {
  border: 1px solid black;
  height: 48px;
  width: 48px;
  background: #c0c0c0;
  text-align: center;
}
.colored {
  background-color: black;
}
